/*
 /=============================================\ 
 ||                      .__                  || 
 ||   ____   ____   ____ |  |   ____   ____   || 
 || _/ __ \_/ __ \ / ___\|  |  /  _ \ /  _ \  || 
 || \  ___/\  ___// /_/  >  |_(  <_> |  <_> ) || 
 ||  \___  >\___  >___  /|____/\____/ \____/  || 
 ||      \/     \/_____/                  2020|| 
 \=============================================/
*/

.list {
    border: solid 1px black;
    padding: 15px;

    text-align: start;
	list-style : none;
    font-weight: 400;
}

.red {
	color : red;
}
.blue {
	color : blue;
}

#visite {
	margin: auto;
	display : grid ;
	justify-content: center;
}

span {
	font-weight: 600;
}